form(action='/', method='POST', class='form-horizontal')
  .control-group
    label.control-label Title
    .controls
      input(type='text', name='title') #{article.title}

  .control-group
    label.control-label Slug
    .controls
      input(type='text', name='slug') #{article.slug}

  .control-group
    label.control-label Author
    .controls
      input(type='text', name='author') #{article.author}

  .control-group
    label.control-label Content
    .controls
      textarea(name='content') #{article.content}

  .control-group
    label.control-label Visible
    .controls
      input(type='checkbox', name='visible') #{article.visible}
