form(method='POST', class='form-horizontal')
  .control-group
    label.control-label Title
    .controls
      input(type='text', name='title', value=article.title)

  .control-group
    label.control-label Slug
    .controls
      input(type='text', name='slug', value=article.slug)

  .control-group
    label.control-label Author
    .controls
      input(type='text', name='author', value=article.author||user.firstname+' '+user.lastname)

  .control-group
    label.control-label Content
    .controls
      textarea(name='content', rows='10') #{article.content}

  .control-group
    label.control-label Visible
    .controls
      input(type='checkbox', name='visible', checked=article.visible)
