extends ../layout

block content
  .container.well
    .row
      .span12
        h1 #{article.isNew ? 'New' : 'Edit'} Article

        form(method='POST', action=(article.isNew ? '/articles' : '/articles/'+article.slug))
          input(type='hidden', name='slug', value=article.slug)

          .control-group
            label.control-label Title
            .controls
              input(type='text', name='title', class='span6', value=article.title)

          .control-group
            label.control-label Author
            .controls
              input(type='text', name='author', class='span6', value=article.author||currentUser.firstname+' '+currentUser.lastname)

          .control-group
            label.control-label Content
            .controls
              textarea(name='content', rows='20', class='span10') #{article.content}
              
          .row
            .span5
              input(type='submit', class='btn btn-primary', value='Save')
              button(type='button', class='btn cancel-edit-article') Cancel

            .span5
              .pull-right Format text using 
                a(href='http://daringfireball.net/projects/markdown/syntax') Markdown
